
<!-- Toolbar -->
<div class="content" role="main">
  <div *ngIf="!channel" class="login">
    <h2 class="title">Login to Chat</h2>
    <form id="login-form" (ngSubmit)="joinChat()">
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          id="text"
          name="username"
          placeholder="Username"
          [(ngModel)]="username"
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add New Channel</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="text"           
          class="form-control"
          placeholder="channel name" [(ngModel)]="newChannelName" id="">
          <input type="text"           
          class="form-control"
          placeholder="channel id" [(ngModel)]="newChannelId" id="">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="createChannel()" data-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="channel" class="container chat-content">
    <h3 class="text-center">My Covid Community</h3>
    <div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="channel_heading">
              <div class="col-12 mb-2">
                <h4 class="text-center">Channels</h4>
              </div>
                <button
                  data-toggle="modal" 
                  data-target="#exampleModalCenter"
                  class="bg-primary newChannelBtn btn text-white">
                  ADD NEW
                </button>
            </div>
          </div>
          <div class="inbox_chat">
            <div class="channels" *ngFor="let channel of channelList">
              <div 
              [ngClass]="{'active_chat': selChannel.data.cid === channel.cid}"
              class="chat_list" 
              (click)="setChannel(channel.cid)">
                <div class="chat_people">
                  <div class="chat_ib">
                    <span
                        class="msg_avatar"
                        [ngStyle]="{'background-color': 'tomato'}"
                      >
                    </span>

                    <h5>
                      {{ channel.data.name }} &nbsp;
                      ({{ channel.data.id }})
                      <span class="lead">
                        ({{channel.data.type}})
                      </span>
                    </h5>
                    <!-- <p *ngIf="channel.state.messages">
                      {{
                        channel.state.messages[channel.state.messages.length-1].text
                      }}
                    </p> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mesgs">
          <div>
            <div class="mb-3">
              <h4>
                {{ selChannel.data.name}}
              </h4>
              <span class="lead">
                {{ selChannel.data.id }}
                ({{ selChannel.data.type }})
              </span>
              <span style="float: right;">
                <button (click)="deleteChannel()" class="bg-danger btn text-white">DELETE</button>
              </span>
            </div>
          </div>
          <div class="msg_history">
            <li class="message" *ngFor="let message of messages">
              <div
                *ngIf="
                  message.user.id !== currentUser.me.id;
                  then incoming_msg;
                  else outgoing_msg
                "
              ></div>
              <ng-template #incoming_msg>
                <div class="incoming_msg m-1">
                  <div class="incoming_msg_img mb-1">
                    <span>
                      <div 
                        class="msg_avatar"
                        [ngStyle]="{'background-color': getColor(message.user.id)}"
                        >
                      </div>
                    </span>
                    <span
                    style="text-shadow: 0px 0px 10px #524f4f;"
                    [ngStyle]="{'color': getColor(message.user.id)}"
                    >
                      {{ message.user.name }}
                    </span>
                  </div>
                  <div class="received_msg">
                    <div class="received_withd_msg">
                      <p>{{ message.text }}</p>
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template #outgoing_msg>
                <div class="outgoing_msg">
                  <div class="sent_msg">
                    <p>{{ message.text }}</p>
                  </div>
                </div>
              </ng-template>
            </li>
          </div>
          <div class="type_msg">
            <form class="input_msg_write" (ngSubmit)="sendMessage()">
              <input
                type="text"
                class="write_msg"
                placeholder="Type a message"
                name="newMessage"
                [(ngModel)]="newMessage"
              />
              <button class="msg_send_btn" type="button">
                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>